#page {
    border-radius: 3pt;
    background-color: white;
    box-shadow: 1pt 1pt 10pt 2pt grey;
    border: 1pt solid grey;
    margin-top: 2em;
    padding: 2em;
}

#page .comment {
    border-radius: 2pt;
    box-shadow: 0pt 0pt 1pt 0pt gray;
    border-top: 1pt solid gray;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    margin: 1em;
}

#page .article {
    border-bottom: double grey;
}

#page .article:last-child {
    border-bottom: none;
}

#page #comment-section {
    border-top: 3pt solid #1e90ff;
    border-radius: 3pt;
    padding: 5pt;
}

#page #comment-button {
    margin-top: 5pt;
}