#page {
    border-radius: 3pt;
    background-color: white;
    box-shadow: 1pt 1pt 10pt 2pt grey;
    border: 1pt solid grey;
    margin-top: 2em;
    padding: 2em;
}

#results {
    margin-top: 1em;
    box-shadow: 0pt 1pt 1pt 0pt grey;
}