#page {
    border-radius: 3pt;
    background-color: white;
    box-shadow: 1pt 1pt 10pt 2pt grey;
    border: 1pt solid grey;
    margin-top: 2em;
    padding: 2em;
}

body .p-button {
    margin-right: 20pt;
}